<a href="https://colab.research.google.com/github/VerenichTatiana2101/HomeWorkPython/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head(20)

   whoAmI
0   human
1   robot
2   human
3   human
4   human
5   human
6   robot
7   human
8   robot
9   robot
10  human
11  robot
12  robot
13  human
14  robot
15  human
16  robot
17  robot
18  human
19  robot

In [ ]:
unique_values = data['whoAmI'].unique()
one_hot = pd.DataFrame(0, index=data.index, columns=unique_values)
for i, value in enumerate(data['whoAmI']):
    one_hot.loc[i, value] = 1

one_hot.head(20)

    human  robot
0       1      0
1       0      1
2       1      0
3       1      0
4       1      0
5       1      0
6       0      1
7       1      0
8       0      1
9       0      1
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      0      1

In [ ]:
unique_values = []
for value in data['whoAmI']:
    if value not in unique_values:
        unique_values.append(value)

one_hot = []
for i in range(len(data)):
    row = []
    for j in range(len(unique_values)):
        if data['whoAmI'][i] == unique_values[j]:
            row.append(1)
        else:
            row.append(0)
    one_hot.append(row)

    print(*row)

1 0
0 1
1 0
1 0
1 0
1 0
0 1
1 0
0 1
0 1
1 0
0 1
0 1
1 0
0 1
1 0
0 1
0 1
1 0
0 1